h1{
    font-size: 60px;
    background-color: forestgreen;
    -webkit-text-stroke: 1px gold;
    text-align: center;
    margin: -8px;
    padding: 20px;
}

/*input{*/
    /*display: flex;*/                  /*  Flexbox froggy doesn't help me   */
    /*justify-content: space-around;*/  /*  default input display to blame?  */
/*}*/

.emptyCell{
    width: 20%;
}

.redClass{
    background-color: red;
    display: block;
    float: right;
}

.oddClass{
    background-color: powderblue;
}

.addButton{
    float: right;
}

.delete{
    margin: auto;
    display: block;
}

table{ border-collapse: collapse; width: 100%; }
table, th, td{ border: 1px solid black; }
tr{ height: 45px; }
th{ background-color: lightsteelblue; }

#total{
    float: right;
}